#tbl {
    width: 100%;
    border: 1px double black;
    border-collapse: collapse;
}
#tbl th {
    text-align: left;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
}
#tbl td {
    padding: 5px;
    border: 1px solid black;
}
#idl {
    color: red;
}
